*{
    padding: 0;
    margin: 0;
    font-family: $fuente;
}
main,
#header1{
    width: 100%;
}
main div h1,
section h1,
main h1{
    padding: 1em;
    text-align: center;
    width: 100%;
}
section article{
    margin-bottom: 25px;
    display: flex;
    justify-content:space-around;
} 

.intro1{
    display: flex;
    justify-content: space-around;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15em;
        .intro{
            width: 10.75em;
            margin: 2em;  
        }
        h2{
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}
section article h2{
    font-size: 1.5em;
    text-align: center;
}
h3{
    width: 10em;
    font-size: 1.5em;
}   
.fv{
    padding-left: 5%;
    margin-bottom: 2em;
    padding-top: 1em;
    font-size: 2.3em;
}
.espacio2{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 5.55em;
}
.centrar4{
    width: 20em;
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    h2{
        margin-bottom: 1.5em;
        font-size: 2.5em;
    }
}
.centrar5{
    width: 30em;
    height: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    h2{
        margin-bottom: 1.5em;
        font-size: 2.5em;
    }
    iframe{
        width: 25em;
    }
}
input{
    display: flex;
}
.boton{
    display: flex;
}
.enviar{
    margin-left: 1em;
}
.espacio3{
    padding-top: 7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.fondo{
    background-image: url(../img/fondo/fondo2.jpg);
    height: 100%;
}
.fondo2{
    background-image: url(../img/fondo/muro-hormigon-gris.jpg);
    height: 100%;
    width: 100%;
}
h1{
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}
#width100{
    width: 100%;
}
.color1 h2{
    color: $sombra;
    font-weight: bold;
}