.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    article{
        margin: 1em;
    }
}
.productos1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productosinicio{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.espacio{
    padding-top: 5em;
    h1{
        color: $sombra;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.espacio3{
    padding-top: 5em;
    h1{
        color: rgb(84, 74, 74);
        font-size: 2em;
        font-weight: bold;
    }
}
.espacio2, .section h2{
    margin-bottom: 15px;
}
.centrar2{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    h2{
        width: 15em;
    }
    img{
        width: 18em;
        transition: 0.5s;
        border: black 1px;
    }
}
.centrar3{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23em;
    img{
        width: 15em;
        border-radius: 20%;
        transition: 0.5s;
    }
    h2{
        width: 15em;
    }
}
#productos1{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 16.5em;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 15em;
        .botonInfo{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8em;
            height: 5em;
            a{
                width: 4em;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s;
            }
        }
        h2{
            width: 100%;
            color: $sombra;
            font-size: 1.5em;
            font-weight: bold;
        }
        
    }
       
}
#productos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    img{
        width: 23em;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 15em;
        .botonInfo{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8em;
            height: 5em;
            a{
                width: 4em;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s;
            }
        }
        h3{
            width: 100%;
            font-size: 1.5em;
            font-weight: bold;
        }
        
    }
       
}
.fv{
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
    font-weight: bold;
}